/**
 * Code snippets taken from typequest.org/features/ and packaged for your
 * convenience.
 *
 * These code snippets allow you to easily use fancy OpenType features in fonts
 * that support them. Note that not all fonts will support all (or any) features
 * and that some experimentation/research will likely to be necessary to
 * determine the support level of an individual typeface.
 *
 * Enjoy!
 *
 * -----
 *
 * TABLE OF CONTENTS:
 *
 *   1. %ot-ligatures
 *   2. %ot-fractions
 *   3. %ot-numbers
 *   4. %ot-smallcaps
 *   5. %ot-swashes
 *   6. %ot-subscript
 *   7. %ot-superscript
 */


/**
 * Turns on an assortment of ligatures.
 *
 *   Usage: @extend %ot-ligatures;
 *   Info: "Ligatures" are fancy connections between letters, particularly
 *         letters that can otherwise look odd when adjacent to each other.
 */
%ot-ligatures {
       -moz-font-feature-settings: "liga=1, dlig=1";
        -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
         -o-font-feature-settings: "liga", "dlig";
            font-feature-settings: "liga", "dlig";
}


/**
 * Turns on condensed fractions
 *
 *   Usage: @extend %ot-fractions;
 *   Info: Treats the numerator, denominator, and separator (slash) of a
 *         fraction as a single typographic entity, and displays them in a
 *         cleaner condensed form.
 */
%ot-fractions {
       -moz-font-feature-settings: "frac" 1;
       -moz-font-feature-settings: "frac=1";
        -ms-font-feature-settings: "frac" 1;
         -o-font-feature-settings: "frac" 1;
    -webkit-font-feature-settings: "frac" 1;
            font-feature-settings: "frac" 1;
}


/**
 * Turns on adjusted numbers
 *
 *   Usage: @extend %ot-numbers;
 *   Info: Adjusts the baseline of numeric digits to line up more nicely, so
 *         that they look better when displays adjacent to eachother.
 */
%ot-numbers {
       -moz-font-feature-settings: "onum" 1;
       -moz-font-feature-settings: "onum=1";
        -ms-font-feature-settings: "onum" 1;
         -o-font-feature-settings: "onum" 1;
    -webkit-font-feature-settings: "onum" 1;
            font-feature-settings: "onum" 1;

       -moz-font-feature-settings: "lnum" 1;
       -moz-font-feature-settings: "lnum=1";
        -ms-font-feature-settings: "lnum" 1;
         -o-font-feature-settings: "lnum" 1;
    -webkit-font-feature-settings: "lnum" 1;
            font-feature-settings: "lnum" 1;
}


/**
 * Turns on native small-caps
 *
 *   Usage: @extend %ot-smallcaps;
 *   Info: Normal small-caps, triggered by `font-variant: small-caps;` are
 *         created on-the-fly by the browser, and can often look out of place
 *         (read: "bad"). This turns on native small-caps, so that the
 *         small-caps are displayed exactly as the designer intended them.
 */
%ot-smallcaps {
       -moz-font-feature-settings: "smcp" 1;
       -moz-font-feature-settings: "smcp=1";
        -ms-font-feature-settings: "smcp" 1;
         -o-font-feature-settings: "smcp" 1;
    -webkit-font-feature-settings: "smcp" 1;
            font-feature-settings: "smcp" 1;
}


/**
 * Turns on fancy swooshes and swashes
 *
 *   Usage: @extend %ot-swashes;
 *   Info: Used primarily for script fonts, swashes are little typographical
 *         artifacts that improve the aesthetics of the font. Generally, web
 *         fonts are made with excess outcroppings removed. This adds them back
 *         into the font (or rather, turns them on. They were always there).
 */
%ot-swashes {
       -moz-font-feature-settings: "swsh" 1;
       -moz-font-feature-settings: "swsh=1";
        -ms-font-feature-settings: "swsh" 1;
         -o-font-feature-settings: "swsh" 1;
    -webkit-font-feature-settings: "swsh" 1;
            font-feature-settings: "swsh" 1;
}


/**
 * Turns on native subscripts
 *
 *   Usage: @extend %ot-subscript;
 *   Info: Turns on the font's built-in subscript rules, for nicer subscripts.
 *         Like CSS small-caps, standard HTML subscripts are auto-generated by
 *         the browser, and so are often inferior to carefully designed ones.
 *         This turns on the carefully designed subscripts to get you all of
 *         that handcrafted goodness in your browser.
 */
%ot-subscript {
       -moz-font-feature-settings: "subs" 1;
       -moz-font-feature-settings: "subs=1";
        -ms-font-feature-settings: "subs" 1;
         -o-font-feature-settings: "subs" 1;
    -webkit-font-feature-settings: "subs" 1;
            font-feature-settings: "subs" 1;
}


/**
 * Turns on native superscripts
 *
 *   Usage: @extend %ot-superscript;
 *   Info: (See information on %ot-subscript)
 */
%ot-superscript {
       -moz-font-feature-settings: "sups" 1;
       -moz-font-feature-settings: "sups=1";
        -ms-font-feature-settings: "sups" 1;
         -o-font-feature-settings: "sups" 1;
    -webkit-font-feature-settings: "sups" 1;
            font-feature-settings: "sups" 1;
}
