<footer class='footer' id='main-footer'>
    <div class='container'>
        <nav class='inline-nav'>
            <ul>
                <li>
                    <a href='{% if site.safe %}/cse{% endif %}/programs' title='Degree Programs'>
                        <span class='icon icon-files'></span>
                        Degree Programs
                    </a>
                </li>
                <li>
                    <a href='{% if site.safe %}/cse{% endif %}/info' title='Department Information'>
                        <span class='icon icon-mug'></span>
                        Department Info
                    </a>
                </li>
                <li>
                    <a href='{% if site.safe %}/cse{% endif %}/resources' title='Student Resources'>
                        <span class='icon icon-list'></span>
                        Student Resources
                    </a>
                </li>
            </ul>
        </nav>
        <p>This is a test.</p>
    </div>
</footer>