<section class='nav-bar' id='main-nav'>
    <div class='nav-bar-content'>
        <div class='banner-options'>
            <button type='button'
                    class='text-button js-banner-toggle'
                    data-toggle='collapse'
                    data-target='#banner'>
                <span class='icon icon-arrow-up'></span>
                Show Campus Banner
            </button>
        </div>
        <nav class='site-nav'>
            <ul>
                <li class='site-nav-item dropdown'>
                    <a class='nav-parent' data-toggle='dropdown' href='{% if site.safe %}/cse{% endif %}/programs' title='Degree Programs'>
                        <span class='icon icon-files'></span>
                        Degree Programs
                    </a>
                    <ul class='dropdown-menu'>
                        <li class='dropdown-header'>Undergraduate</li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/programs/computer-science' title='BS in Computer Science'>
                                BS in Computer Science
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/programs/computer-engineering' title='BS in Computer Engineering'>
                                BS in Computer Engineering
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/programs/bioinformatics' title='BS in Bioinformatics'>
                                BS in Bioinformatics
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/programs/computer-systems' title='BA in Computer Systems'>
                                BA in Computer Systems
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/programs/minor' title='Minor in Computer Science'>
                                Minor in Computer Science
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/programs/certificate' title='Certificate in Computer Systems'>
                                Certificate in Computer Systems
                            </a>
                        </li>
                        <li class='divider'></li>
                        <li class='dropdown-header'>Graduate</li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/programs/master' title='MS in Computer Science'>
                                MS in Computer Science
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='site-nav-item dropdown'>
                    <a class='nav-parent' data-toggle='dropdown' href='{% if site.safe %}/cse{% endif %}/info' title='Department Information'>
                        <span class='icon icon-mug'></span>
                        Department Info
                    </a>
                    <ul class='dropdown-menu'>
                        <li class='dropdown-header'>Faculty and Staff</li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/faculty/full-time' title='Full Time Faculty'>
                                Full Time Faculty
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/faculty/part-time' title='Part Time Faculty'>
                                Part Time Faculty
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/staff' title='Staff'>
                                Staff
                            </a>
                        </li>
                        <li class='divider'></li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/advisory-board' title='Industry Advisory Board'>
                                Industry Advisory Board
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/contact' title='Contact'>
                                Contact
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/hours' title='Office Hours'>
                                Office Hours
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/about' title='About the Department'>
                                About the Department
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/archive' title='Archive'>
                                Archive
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='site-nav-item dropdown'>
                    <a class='nav-parent' data-toggle='dropdown' href='{% if site.safe %}/cse{% endif %}/resources' title='Student Resources'>
                        <span class='icon icon-list'></span>
                        Student Resources
                    </a>
                    <ul class='dropdown-menu'>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/forms' title='Forms'>
                                Forms
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/course-schedule' title='Course Schedule'>
                                Course Schedule
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/clubs' title='Student Organizations'>
                                Student Organizations
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/labs' title='Lab Hours and Information'>
                                Lab Hours and Information
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/tutoring' title='Tutoring'>
                                Tutoring
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/msdnaa' title='MSDNAA'>
                                MSDNAA
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</section>
