<footer class='footer' id='main-footer'>
    <div class='container'>
        <nav class='inline-nav'>
            <ul>
                <li>
                    <a href='{% if site.safe %}/cse{% endif %}/programs'>
                        Degree&nbsp;Programs
                    </a>
                </li>
                <li>
                    <a href='{% if site.safe %}/cse{% endif %}/info'>
                        Department&nbsp;Info
                    </a>
                </li>
                <li>
                    <a href='{% if site.safe %}/cse{% endif %}/resources'>
                        Student&nbsp;Resources
                    </a>
                </li>
                <li class='small'>
                    <a href='http://www.csusb.edu/disabilityResources.html'>
                        Disability&nbsp;Resources
                    </a>
                </li>
                <li class='small'>
                    <a href='http://www.csusb.edu/privacySecurityNotice.html'>
                        Privacy&nbsp;&amp;&nbsp;Security&nbsp;Notice
                    </a>
                </li>
                <li class='small'>
                    <a href='http://www.calstate.edu/'>
                        The&nbsp;CSU&nbsp;System
                    </a>
                </li>
            </ul>
        </nav>
        <section class='meta'>
            <img class='campus-logo' src='{% if site.safe %}/cse{% endif %}/assets/img/university_logo.png'>
            <address class='address'>
                California State University, San Bernardino<br>
                5500 University Parkway, San Bernardino CA 92407-2318
            </address>
            <span class='contact'>
                Phone: (909) 537-5000. Last updated: April 26, 2014.<br>
                <a href='mailto:webdev@csusb.edu'>Email the webmaster</a>. Built by <a href='http://andrewbrinker.com'>Andrew Brinker</a>.
            </span>
        </section>
    </div>
</footer>
