<section class='nav-bar-container'>
    <nav class='nav-bar' id='main-nav-bar'>
        <div class='nav-bar-segment'>
            <a class='first-item' href='http://csusb.edu' class='nav-bar-trigger' id='campus-trigger'>
                <span class='icon-arrow-left'></span>
                <i>Campus</i>
            </a>
        </div>
        <div class='nav-bar-segment'>
            <a id='main-nav-trigger' href='#' class='nav-bar-trigger' data-target='main-nav'>
                Navigation
                <span class='icon-arrow-down icon-right'></span>
            </a>
            <ul class='last-item nav-bar-sub-nav' id='main-nav'>
                <li class='nav-bar-item dropdown'>
                    <a href='{% if site.safe %}/cse{% endif %}/programs' data-toggle='dropdown'>
                        <span class='icon-file'></span>
                        Degree Programs
                    </a>
                    <ul class='nav-bar-dropdown dropdown-menu'>
                        <li class='dropdown-header'>Undergraduate</li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/programs/computer-science'>
                                BS in Computer Science
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/programs/computer-engineering'>
                                BS in Computer Engineering
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/programs/bioinformatics'>
                                BS in Bioinformatics
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/programs/computer-systems'>
                                BA in Computer Systems
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/programs/minor'>
                                Minor in Computer Science
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/programs/certificate'>
                                Certificate in Computer Systems
                            </a>
                        </li>
                        <li class='divider'></li>
                        <li class='dropdown-header'>Graduate</li>
                        <li>
                            <a class='radius-bottom' href='{% if site.safe %}/cse{% endif %}/programs/master'>
                                MS in Computer Science
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='nav-bar-item dropdown'>
                    <a href='{% if site.safe %}/cse{% endif %}/info' data-toggle='dropdown'>
                        <span class='icon-folder'></span>
                        Department Info
                    </a>
                    <ul class='nav-bar-dropdown dropdown-menu'>
                        <li class='dropdown-header'>Faculty and Staff</li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/faculty/full-time'>
                                Full Time Faculty
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/faculty/part-time'>
                                Part Time Faculty
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/staff'>
                                Staff
                            </a>
                        </li>
                        <li class='divider'></li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/advisory-board'>
                                Industry Advisory Board
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/contact'>
                                Contact
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/hours'>
                                Office Hours
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/about'>
                                About the Department
                            </a>
                        </li>
                        <li>
                            <a class='radius-bottom' href='{% if site.safe %}/cse{% endif %}/archive'>
                                Archive
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='nav-bar-item dropdown'>
                    <a class='last-item' href='{% if site.safe %}/cse{% endif %}/resources' data-toggle='dropdown'>
                        <span class='icon-head'></span>
                        Student Resources
                    </a>
                    <ul class='nav-bar-dropdown dropdown-menu'>
                        <li>
                            <a class='radius-top' href='{% if site.safe %}/cse{% endif %}/forms'>
                                Forms
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/course-schedule'>
                                Course Schedule
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/clubs'>
                                Student Organizations
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/labs'>
                                Lab Hours and Information
                            </a>
                        </li>
                        <li>
                            <a href='{% if site.safe %}/cse{% endif %}/tutoring'>
                                Tutoring
                            </a>
                        </li>
                        <li>
                            <a class='radius-bottom' href='{% if site.safe %}/cse{% endif %}/msdnaa'>
                                MSDNAA
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div> <!-- /.nav-bar-segment -->
    </nav> <!-- /.nav-bar -->
</section>