<footer class='footer' id='main-footer'>
    <div class='container'>
        <nav class='inline-nav'>
            <ul>
                <li>
                    <a href='{% if site.safe %}/cse{% endif %}/programs'>
                        Degree Programs
                    </a>
                </li>
                <li>
                    <a href='{% if site.safe %}/cse{% endif %}/info'>
                        Department Info
                    </a>
                </li>
                <li>
                    <a href='{% if site.safe %}/cse{% endif %}/resources'>
                        Student Resources
                    </a>
                </li>
                <li class='small'>
                    <a href='http://www.csusb.edu/disabilityResources.html'>
                        Disability Resources
                    </a>
                </li>
                <li class='small'>
                    <a href='http://www.csusb.edu/privacySecurityNotice.html'>
                        Privacy and Security Notice
                    </a>
                </li>
                <li class='small'>
                    <a href='http://www.calstate.edu/'>
                        The California State University System
                    </a>
                </li>
            </ul>
        </nav>
        <section class='meta'>
            <img class='campus-logo' src='/assets/img/university_logo.png'>
            <address class='address'>
                California State University, San Bernardino<br>
                5500 University Parkway, San Bernardino CA 92407-2318
            </address>
            <span class='contact'>
                (909) 537-5000 <br>
                Updated: April 26, 2014. <a href='mailto:webdev@csusb.edu'>Email Webmaster</a>
            </span>
        </section>
    </div>
</footer>