<div class='navigation'>
    <nav class='nav-bar' id='main-nav-bar'>
        <div class='nav-bar-segment'>
            <a class='first-item' href='http://csusb.edu' class='nav-bar-trigger' id='campus-trigger'>
                <span class='icon-arrow-left'></span>
                <i>Campus</i>
            </a>
        </div>
        <div class='nav-bar-segment'>
            <a id='main-nav-trigger' href='#' class='nav-bar-trigger' data-target='main-nav'>
                Navigation
                <span class='icon-arrow-down icon-right'></span>
            </a>
            <ul class='last-item nav-bar-sub-nav' id='main-nav'>
                <li class='nav-bar-item dropdown'>
                    <a href='{{ site.baseurl }}/programs' data-toggle='dropdown'>
                        <span class='icon-file'></span>
                        Degree Programs
                    </a>
                    <ul class='nav-bar-dropdown dropdown-menu'>
                        <li class='dropdown-header'>Undergraduate</li>
                        <li>
                            <a href='{{ site.baseurl }}/programs/computer-science'>
                                BS in Computer Science
                            </a>
                        </li>
                        <li>
                            <a href='{{ site.baseurl }}/programs/computer-engineering'>
                                BS in Computer Engineering
                            </a>
                        </li>
                        <li>
                            <a href='{{ site.baseurl }}/programs/bioinformatics'>
                                BS in Bioinformatics
                            </a>
                        </li>
                        <li>
                            <a href='{{ site.baseurl }}/programs/computer-systems'>
                                BA in Computer Systems
                            </a>
                        </li>
                        <li>
                            <a href='{{ site.baseurl }}/programs/minor'>
                                Minor in Computer Science
                            </a>
                        </li>
                        <li>
                            <a href='{{ site.baseurl }}/programs/certificate'>
                                Certificate in Computer Systems
                            </a>
                        </li>
                        <li class='divider'></li>
                        <li class='dropdown-header'>Graduate</li>
                        <li>
                            <a class='radius-bottom' href='{{ site.baseurl }}/programs/master'>
                                MS in Computer Science
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='nav-bar-item dropdown'>
                    <a href='{{ site.baseurl }}/info' data-toggle='dropdown'>
                        <span class='icon-folder'></span>
                        Department Info
                    </a>
                    <ul class='nav-bar-dropdown dropdown-menu'>
                        <li class='dropdown-header'>Faculty and Staff</li>
                        <li>
                            <a href='{{ site.baseurl }}/faculty/full-time'>
                                Full Time Faculty
                            </a>
                        </li>
                        <li>
                            <a href='{{ site.baseurl }}/faculty/emeritus'>
                                Emeritus Faculty
                            </a>
                        </li>
                        <li>
                            <a href='{{ site.baseurl }}/faculty/part-time'>
                                Part Time Faculty
                            </a>
                        </li>
                        <li>
                            <a href='{{ site.baseurl }}/staff'>
                                Staff
                            </a>
                        </li>
                        <li class='divider'></li>
                        <li>
                            <a href='{{ site.baseurl }}/advisory-board'>
                                Industry Advisory Board
                            </a>
                        </li>
                        <li>
                            <a href='{{ site.baseurl }}/contact'>
                                Contact
                            </a>
                        </li>
                        <li>
                            <a href='{{ site.baseurl }}/faculty/OfficeHours.pdf'>
                                Office Hours
                            </a>
                        </li>
                    </ul>
                </li>
                <li class='nav-bar-item dropdown'>
                    <a class='last-item' href='{{ site.baseurl }}/resources' data-toggle='dropdown'>
                        <span class='icon-head'></span>
                        Student Resources
                    </a>
                    <ul class='nav-bar-dropdown dropdown-menu'>
                        <li>
                            <a class='radius-top' href='{{ site.baseurl }}/forms'>
                                Forms
                            </a>
                        </li>
                        <li>
                            <a href='{{ site.baseurl }}/programs/Yearly_schedule_of_courses.pdf'>
                                Course Schedule
                            </a>
                        </li>
                        <li>
                            <a href='{{ site.baseurl }}/clubs'>
                                Student Organizations
                            </a>
                        </li>
                        <li>
                            <a href='{{ site.baseurl }}/labs'>
                                Lab Hours and Information
                            </a>
                        </li>
                        <li>
                            <a href='{{ site.baseurl }}/labs/#tutoring'>
                                Tutoring
                            </a>
                        </li>
                        <li>
                            <a class='radius-bottom' href='{{ site.baseurl }}/labs/#microsoft-academic-alliance'>
                                MSDNAA
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
