body {
	background: $color-bg url(/assets/img/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    -webkit-filter: grayscale(10%),
            blur(10px);
    filter: grayscale(10%),
            blur(10px);
	color: $color-0;
}

a {
	color: $color-1;
	text-decoration: underline;

	&:hover,
	&:focus {
		color: $color-4;
	}
}