.radius-top {
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
}

.radius-bottom {
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
}
