.dropdown {
    list-style: none;
    position: relative;
}

    .dropdown-menu {
        position: absolute;
        top: 120%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 100%;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        @include font-size($font-size-base);
        background-color: #fff;
        border-radius: $border-radius-base;
        -webkit-background-clip: padding-box;
        border-top: 1px solid rgba(0,0,0,.25);
        box-shadow: 1px 0 0 0 rgba(0,0,0,.25),
                   -1px 0 0 0 rgba(0,0,0,.25),
                    0 1px 0 0 rgba(0,0,0,.25),
                   0 -1px 0 0 rgba(0,0,0,.25),
                    0 3px 5px rgba(0,0,0,.15);

        &:before {
            content: "";
            position: absolute;
            top: -.5em;
            left: 50%;
            width: 0;
            height: 0;
            margin-left: -.25em;
            border-bottom: .5em solid #fff;
            border-left: .5em solid transparent;
            border-right: .5em solid transparent;
        }
    }

        .dropdown-menu .divider {
            height: 1px;
            margin: .5em 0;
            overflow: hidden;
            background-color: #e5e5e5;
        }

            .dropdown-menu > li > a {
                display: block;
                padding: .5em 1em;
                clear: both;
                font-weight: normal;
                color: #333333;
                white-space: nowrap;
                text-align: left;
            }

                .dropdown-menu > li > a:hover,
                .dropdown-menu > li > a:focus {
                    text-decoration: none;
                    color: #000;
                    background: $color-1-t3;
                    margin: 0;
                    border: 0;
                    padding-top: .5em;
                }

            .dropdown-menu > .active > a,
            .dropdown-menu > .active > a:hover,
            .dropdown-menu > .active > a:focus {
                color: $color-1;
                text-decoration: none;
                outline: 0;
                background: #f7f7f7;
                padding-top: .5em;
            }

            .dropdown-menu > .disabled > a,
            .dropdown-menu > .disabled > a:hover,
            .dropdown-menu > .disabled > a:focus {
                color: #999999;
            }

                .dropdown-menu > .disabled > a:hover,
                .dropdown-menu > .disabled > a:focus {
                    text-decoration: none;
                    background-color: transparent;
                    background-image: none;
                    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
                    cursor: not-allowed;
                }

        .open > .dropdown-menu {
            display: block;
        }

        .open > a {
            outline: 0;
        }

            .dropdown-header {
                @include font-size($font-size-milli);
                display: block;
                padding: .75em 1rem .25em !important;
                color: #999;
            }

            .dropdown-backdrop {
                position: fixed;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                z-index: 990;
            }

                .dropup .caret,
                .navbar-fixed-bottom .dropdown .caret {
                    border-top: 0;
                    border-bottom: 4px solid;
                    content: "";
                }

                .dropup .dropdown-menu,
                .navbar-fixed-bottom .dropdown .dropdown-menu {
                    top: auto;
                    bottom: 100%;
                    margin-bottom: 1px;
                }
