.head-bar {
    padding-bottom: .5em;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(0,0,0,.15);
    @include font-size($font-size-milli);
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;

    @media (min-width: $screen-md-min) {
        @include font-size($font-size-h6);
        line-height: .75em;
    }

    strong {
        text-transform: none;
        display: block;
        @include font-size($font-size-h2);
        letter-spacing: 0;
        color: $color-0;

        @media (min-width: $screen-md-min) {
            @include font-size($font-size-h1);
        }
    }
}