.nav-bar {
    height: 3.5em;
    display: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

    .nav-bar-content {
        @include outer-container();
        border-bottom: 2px solid $color-1;
    }


