[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;

    &.large {
        width: 32px;
        height: 32px;
    }

    &.huge {
        width: 64px;
        height: 64px;
    }
}

.icon-left { float: left; }
.icon-right { float: right; }


// .icon-air-play         { background-image: url("/cse/assets/svg/air-play.svg"); }
// .icon-align-center     { background-image: url("/cse/assets/svg/align-center.svg"); }
// .icon-justify          { background-image: url("/cse/assets/svg/align-justify.svg"); }
// .icon-align-left       { background-image: url("/cse/assets/svg/align-left.svg"); }
// .icon-align-right      { background-image: url("/cse/assets/svg/align-right.svg"); }
// .icon-alt              { background-image: url("/cse/assets/svg/alt.svg"); }
// .icon-anchor           { background-image: url("/cse/assets/svg/anchor.svg"); }
// .icon-archive          { background-image: url("/cse/assets/svg/archive.svg"); }
.icon-arrow-down       { background-image: url("/cse/assets/svg/arrow-down.svg"); }
.icon-arrow-left       { background-image: url("/cse/assets/svg/arrow-left.svg"); }
.icon-arrow-right      { background-image: url("/cse/assets/svg/arrow-right.svg"); }
.icon-arrow-up         { background-image: url("/cse/assets/svg/arrow-up.svg"); }
// .icon-bag              { background-image: url("/cse/assets/svg/bag.svg"); }
// .icon-ban              { background-image: url("/cse/assets/svg/ban.svg"); }
// .icon-bar-graph-2      { background-image: url("/cse/assets/svg/bar-graph-2.svg"); }
// .icon-bar-graph        { background-image: url("/cse/assets/svg/bar-graph.svg"); }
// .icon-battery          { background-image: url("/cse/assets/svg/battery.svg"); }
// .icon-bell             { background-image: url("/cse/assets/svg/bell.svg"); }
// .icon-book             { background-image: url("/cse/assets/svg/book.svg"); }
// .icon-box              { background-image: url("/cse/assets/svg/box.svg"); }
// .icon-briefcase        { background-image: url("/cse/assets/svg/briefcase.svg"); }
// .icon-camera           { background-image: url("/cse/assets/svg/camera.svg"); }
// .icon-check            { background-image: url("/cse/assets/svg/check.svg"); }
// .icon-circle-add       { background-image: url("/cse/assets/svg/circle-add.svg"); }
// .icon-circle-check     { background-image: url("/cse/assets/svg/circle-check.svg"); }
// .icon-circle-cross     { background-image: url("/cse/assets/svg/circle-cross.svg"); }
// .icon-circle-minus     { background-image: url("/cse/assets/svg/circle-minus.svg"); }
// .icon-clipboard        { background-image: url("/cse/assets/svg/clipboard.svg"); }
// .icon-clock            { background-image: url("/cse/assets/svg/clock.svg"); }
// .icon-cloud-download   { background-image: url("/cse/assets/svg/cloud-download.svg"); }
// .icon-cloud-upload     { background-image: url("/cse/assets/svg/cloud-upload.svg"); }
// .icon-cloud            { background-image: url("/cse/assets/svg/cloud.svg"); }
// .icon-cog              { background-image: url("/cse/assets/svg/cog.svg"); }
// .icon-columns          { background-image: url("/cse/assets/svg/columns.svg"); }
// .icon-command          { background-image: url("/cse/assets/svg/command.svg"); }
// .icon-content-left     { background-image: url("/cse/assets/svg/content-left.svg"); }
// .icon-content-right    { background-image: url("/cse/assets/svg/content-right.svg"); }
// .icon-contract         { background-image: url("/cse/assets/svg/contract.svg"); }
// .icon-cross            { background-image: url("/cse/assets/svg/cross.svg"); }
// .icon-delete           { background-image: url("/cse/assets/svg/delete.svg"); }
// .icon-disc             { background-image: url("/cse/assets/svg/disc.svg"); }
// .icon-download         { background-image: url("/cse/assets/svg/download.svg"); }
// .icon-drop             { background-image: url("/cse/assets/svg/drop.svg"); }
// .icon-ellipsis         { background-image: url("/cse/assets/svg/ellipsis.svg"); }
// .icon-esc              { background-image: url("/cse/assets/svg/esc.svg"); }
// .icon-expand           { background-image: url("/cse/assets/svg/expand.svg"); }
// .icon-eye              { background-image: url("/cse/assets/svg/eye.svg"); }
// .icon-fast-forward     { background-image: url("/cse/assets/svg/fast-forward.svg"); }
// .icon-file-add         { background-image: url("/cse/assets/svg/file-add.svg"); }
// .icon-file-subtract    { background-image: url("/cse/assets/svg/file-subtract.svg"); }
.icon-file             { background-image: url("/cse/assets/svg/file.svg"); }
// .icon-flag             { background-image: url("/cse/assets/svg/flag.svg"); }
.icon-folder           { background-image: url("/cse/assets/svg/folder.svg"); }
// .icon-globe            { background-image: url("/cse/assets/svg/globe.svg"); }
// .icon-grid-2           { background-image: url("/cse/assets/svg/grid-2.svg"); }
// .icon-grid             { background-image: url("/cse/assets/svg/grid.svg"); }
.icon-head             { background-image: url("/cse/assets/svg/head.svg"); }
// .icon-heart            { background-image: url("/cse/assets/svg/heart.svg"); }
// .icon-help             { background-image: url("/cse/assets/svg/help.svg"); }
// .icon-image            { background-image: url("/cse/assets/svg/image.svg"); }
// .icon-inbox            { background-image: url("/cse/assets/svg/inbox.svg"); }
// .icon-layers           { background-image: url("/cse/assets/svg/layers.svg"); }
// .icon-layout           { background-image: url("/cse/assets/svg/layout.svg"); }
// .icon-link             { background-image: url("/cse/assets/svg/link.svg"); }
// .icon-loader           { background-image: url("/cse/assets/svg/loader.svg"); }
// .icon-location-2       { background-image: url("/cse/assets/svg/location-2.svg"); }
// .icon-location         { background-image: url("/cse/assets/svg/location.svg"); }
// .icon-lock             { background-image: url("/cse/assets/svg/lock.svg"); }
// .icon-mail             { background-image: url("/cse/assets/svg/mail.svg"); }
// .icon-map              { background-image: url("/cse/assets/svg/map.svg"); }
// .icon-marquee-add      { background-image: url("/cse/assets/svg/marquee-add.svg"); }
// .icon-marquee-subtract { background-image: url("/cse/assets/svg/marquee-subtract.svg"); }
// .icon-marquee          { background-image: url("/cse/assets/svg/marquee.svg"); }
// .icon-maximize         { background-image: url("/cse/assets/svg/maximize.svg"); }
// .icon-menu             { background-image: url("/cse/assets/svg/menu.svg"); }
// .icon-microphone       { background-image: url("/cse/assets/svg/microphone.svg"); }
// .icon-minimize         { background-image: url("/cse/assets/svg/minimize.svg"); }
// .icon-minus            { background-image: url("/cse/assets/svg/minus.svg"); }
// .icon-monitor          { background-image: url("/cse/assets/svg/monitor.svg"); }
// .icon-moon             { background-image: url("/cse/assets/svg/moon.svg"); }
// .icon-move             { background-image: url("/cse/assets/svg/move.svg"); }
// .icon-mute             { background-image: url("/cse/assets/svg/mute.svg"); }
// .icon-open             { background-image: url("/cse/assets/svg/open.svg"); }
// .icon-outbox           { background-image: url("/cse/assets/svg/outbox.svg"); }
// .icon-paper-clip       { background-image: url("/cse/assets/svg/paper-clip.svg"); }
// .icon-paper-stack      { background-image: url("/cse/assets/svg/paper-stack.svg"); }
// .icon-paper            { background-image: url("/cse/assets/svg/paper.svg"); }
// .icon-paragraph        { background-image: url("/cse/assets/svg/paragraph.svg"); }
// .icon-pause            { background-image: url("/cse/assets/svg/pause.svg"); }
// .icon-pie-graph        { background-image: url("/cse/assets/svg/pie-graph.svg"); }
// .icon-play             { background-image: url("/cse/assets/svg/play.svg"); }
// .icon-plus             { background-image: url("/cse/assets/svg/plus.svg"); }
// .icon-power            { background-image: url("/cse/assets/svg/power.svg"); }
// .icon-printer          { background-image: url("/cse/assets/svg/printer.svg"); }
// .icon-record           { background-image: url("/cse/assets/svg/record.svg"); }
// .icon-reload           { background-image: url("/cse/assets/svg/reload.svg"); }
// .icon-repeat           { background-image: url("/cse/assets/svg/repeat.svg"); }
// .icon-reply            { background-image: url("/cse/assets/svg/reply.svg"); }
// .icon-rewind           { background-image: url("/cse/assets/svg/rewind.svg"); }
// .icon-ribbon           { background-image: url("/cse/assets/svg/ribbon.svg"); }
// .icon-search           { background-image: url("/cse/assets/svg/search.svg"); }
// .icon-server           { background-image: url("/cse/assets/svg/server.svg"); }
// .icon-share            { background-image: url("/cse/assets/svg/share.svg"); }
// .icon-shuffle          { background-image: url("/cse/assets/svg/shuffle.svg"); }
// .icon-signal           { background-image: url("/cse/assets/svg/signal.svg"); }
// .icon-skip-back        { background-image: url("/cse/assets/svg/skip-back.svg"); }
// .icon-skip-forward     { background-image: url("/cse/assets/svg/skip-forward.svg"); }
// .icon-speech-bubble    { background-image: url("/cse/assets/svg/speech-bubble.svg"); }
// .icon-square-add       { background-image: url("/cse/assets/svg/square-add.svg"); }
// .icon-square-check     { background-image: url("/cse/assets/svg/square-check.svg"); }
// .icon-square-cross     { background-image: url("/cse/assets/svg/square-cross.svg"); }
// .icon-square-minus     { background-image: url("/cse/assets/svg/square-minus.svg"); }
// .icon-stack-2          { background-image: url("/cse/assets/svg/stack-2.svg"); }
// .icon-stack            { background-image: url("/cse/assets/svg/stack.svg"); }
// .icon-star             { background-image: url("/cse/assets/svg/star.svg"); }
// .icon-stop             { background-image: url("/cse/assets/svg/stop.svg"); }
// .icon-sun              { background-image: url("/cse/assets/svg/sun.svg"); }
// .icon-tag              { background-image: url("/cse/assets/svg/tag.svg"); }
// .icon-target           { background-image: url("/cse/assets/svg/target.svg"); }
// .icon-thermometer      { background-image: url("/cse/assets/svg/thermometer.svg"); }
// .icon-toggle           { background-image: url("/cse/assets/svg/toggle.svg"); }
// .icon-trash            { background-image: url("/cse/assets/svg/trash.svg"); }
// .icon-umbrella         { background-image: url("/cse/assets/svg/umbrella.svg"); }
// .icon-unlock           { background-image: url("/cse/assets/svg/unlock.svg"); }
// .icon-upload           { background-image: url("/cse/assets/svg/upload.svg"); }
// .icon-video            { background-image: url("/cse/assets/svg/video.svg"); }
// .icon-volume           { background-image: url("/cse/assets/svg/volume.svg"); }
// .icon-watch            { background-image: url("/cse/assets/svg/watch.svg"); }
// .icon-zoom-in          { background-image: url("/cse/assets/svg/zoom-in.svg"); }
// .icon-zoom-out         { background-image: url("/cse/assets/svg/zoom-out.svg"); }
