#campusBanner,
#campusWrapper {
    height: auto !important;
    display: block !important;
}

    #campusLinks {
        padding: 3px 0 2px !important;
    }

    #searchBar {
        margin: 0 !important;
    }
