.footer {
    background: #000;
    color: #fff;
    padding: 1.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    a {
        color: #fff;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $color-3;
        }
    }

    nav {
        border-bottom: 1px solid rgba(255,255,255,.15);
        margin-bottom: 1.5em;

        .small a {
            color: rgba(255,255,255,.5);

            &:hover,
            &:focus {
                color: $color-3;
            }
        }
    }

    .meta {
        a {
            text-decoration: underline;
        }
    }

        .address,
        .contact {
            display: inline;
            @include font-size($font-size-milli);
            font-style: normal;
        }

        .campus-logo,
        .address,
        .contact {
            display: block;

            @media screen and (min-width: $screen-md-min) {
                display: inline;
                float: left;
            }
        }

        .contact {
            @media screen and (min-width: $screen-md-min) {
                float: right;
            }
        }

        .campus-logo {
            display: none;
            margin-right: 1em;
            margin-top: .333em;

            @media screen and (min-width: $screen-md-min) {
                display: inline;
            }
        }
}