.header {
    padding: 2em 1.5em 2.5em;

    .logo {
        display: block;
        text-align: left;
        @include font-size($font-size-h3);

        @media (min-width: $screen-sm-min) {
            @include font-size($font-size-h2);
        }

        @media (min-width: $screen-md-min) {
            @include font-size($font-size-h1);
            text-align: center;
        }
    }
}