.header {
    padding: 2em 1.5em;

    @media screen and (min-width: $screen-md-min) {
        padding-top: 4em;
        padding-bottom: 4em;
    }

    .logo {
        display: block;
        text-align: left;
        @include font-size($font-size-h4);
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: normal;

        @media (min-width: $screen-sm-min) {
            @include font-size($font-size-h2);
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        @media (min-width: $screen-md-min) {
            @include font-size($font-size-h1);
            text-align: center;
        }
    }
}