.sidebar {
    @include span-columns(4 of 12);
    @include omega();
    @include pad(2em 0);
    background: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: $border-radius-base;
}

    .sidebar-content {
        display: block;
        padding: 0 2rem;
        margin-bottom: 2em;
        @include font-size($font-size-milli);
        color: $color-0-t1;
    }