.sidebar {
    display: none;

    @media (min-width: $screen-md-min) {
        @include span-columns(3 of 12);
        margin-top: -2em;
        padding-top: 2em;
    }
}

    .sidebar-content {
        display: block;
        padding: 0 2rem 0 0;
        margin-bottom: 2em;
        @include font-size($font-size-milli);
        color: $color-0-t1;
    }

        .sidebar-description {
            font-style: italic;
        }