/*
Syntax error: Undefined mixin 'outer-container'.
        on line 2 of assets/sass/layout/nav.scss, in `outer-container'
        from line 2 of assets/sass/layout/nav.scss

1: .nav-bar {
2:     @include outer-container();
3:     box-shadow: 1px 0 0 0 rgba(0,0,0,.25),
4:                -1px 0 0 0 rgba(0,0,0,.25),
5:                 0 1px 0 0 rgba(0,0,0,.25),
6:                 0 3px 4px rgba(0,0,0,.25);
7:     position: relative;

Backtrace:
assets/sass/layout/nav.scss:2:in `outer-container'
assets/sass/layout/nav.scss:2
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:320:in `block in visit_mixin'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/stack.rb:121:in `with_frame'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/stack.rb:98:in `with_mixin'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:318:in `visit_mixin'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/stack.rb:79:in `block in with_base'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/stack.rb:121:in `with_frame'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/stack.rb:79:in `with_base'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/stack.rb:79:in `block in with_base'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/stack.rb:121:in `with_frame'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/stack.rb:79:in `with_base'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/tree/root_node.rb:20:in `render'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/engine.rb:274:in `render'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/plugin/compiler.rb:186:in `each'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/plugin/compiler.rb:393:in `on_file_changed'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/sass-3.3.6/lib/sass/plugin/compiler.rb:248:in `block in watch'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/listen-2.7.2/lib/listen/listener.rb:149:in `call'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/listen-2.7.2/lib/listen/listener.rb:149:in `block in _wait_for_changes'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/listen-2.7.2/lib/listen/listener.rb:138:in `loop'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/listen-2.7.2/lib/listen/listener.rb:138:in `_wait_for_changes'
/Users/andrewbrinker/.rvm/gems/ruby-2.1.0/gems/listen-2.7.2/lib/listen/listener.rb:42:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'outer-container'.\A         on line 2 of assets/sass/layout/nav.scss, in `outer-container'\A         from line 2 of assets/sass/layout/nav.scss\A \A 1: .nav-bar {\A 2:     @include outer-container();\A 3:     box-shadow: 1px 0 0 0 rgba(0,0,0,.25),\A 4:                -1px 0 0 0 rgba(0,0,0,.25),\A 5:                 0 1px 0 0 rgba(0,0,0,.25),\A 6:                 0 3px 4px rgba(0,0,0,.25);\A 7:     position: relative;"; }
